@charset "UTF-8";
/*--------------------------------------------------ボディ----------------------------------------------------------------*/
/*コンテンツ幅*/
.inner {
  width: 345px;
  margin: 0 auto;
}

/*-------------------------------------------------ヘッダーセクション------------------------------------------------------------*/
/*ヘッダー背景*/
.mainvisual {
  background: url(./images/header_BG.jpg) center no-repeat;
  background-size: cover;
  height: 673px;
  margin: 0;
  color: #ffffff;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  padding: 36px 0 0 40px;
}

.header-logo-txt {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.header-logo-caption {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.6;
}

.header-nav-list {
  font-size: 0.88rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header-nav-list :hover {
  border-bottom: solid 2px #000000;
}

.header-catchcopy {
  position: absolute;
  top: 360px;
  left: 138px;
}

.header-catchcopy-main {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  margin-bottom: 23px;
  line-height: 1.25;
  font-size: 4rem;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

.header-catchcopy-caption {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1.2;
  text-align: left;
  color: #000000;
}

.header-Arrow {
  border-bottom: solid 10px #ffffff;
  border-right: solid 10px #ffffff;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 650px auto;
}

.header a {
  text-decoration: none;
  color: #ffffff;
}

.header li {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin: 30px 27px 0 36px;
}

/*-------------------------------------------------メイン-----------------------------------------------------------------*/

.ttl-body {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: bold;
  line-height: 58px;
  text-align: left;
  letter-spacing: 0.96px;
  color: #000000;
}

.ttl-cap {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-weight: bold;
  text-align: left;
  font-size: 1em;
  color: #000000;
}

main {
  color: black;
}

/*------------------------------------------------アバウトセクション------------------------------------------------------------*/
.About-inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 161px;
}

.About-ttl-body {
  position: relative;
}

.About-ttl-body::after {
  content: "";
  display: block;
  width: 69px;
  height: 5px;
  background-color: #000000;
  position: absolute;
  bottom: -10px;
}

.About-ttl-cap {
  margin-top: 30px;
}

.About-shopttl {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  margin-top: 43px;
}

.About-shoptxt {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-size: 1em;
  text-align: left;
  width: 305px;
  margin-top: 23px;
  line-height: 2.0;
}

.About-img {
  width: 100%;
  height: 100%;
}

/*--------------------------------------------アイテムセクション---------------------------------------------------------------*/
.Item-box {
  padding-top: 183px;
}

.Item-ttl-cap {
  margin-top: 28px;
}

.Item-ttl-body {
  position: relative;
}

.Item-ttl-body::after {
  content: "";
  display: block;
  width: 69px;
  height: 5px;
  background-color: #000000;
  position: absolute;
  bottom: -10px;
}

.Item-wrap {
  margin-top: 23px;
}

.Item-card3 {
  display: none;
}

.Item-category1, .Item-category2, .Item-category3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.32px;
  margin-top: 23px;
}

.Item-name1, .Item-name2, .Item-name3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.48;
}

.Item-name1 {
  margin-top: 40px;
}

.Item-name2 {
  height: 81px;
}

.Item-name2, .Item-name3 {
  margin-top: 34px;
}

.Item-name3 {
  line-height: 29px;
}

.Item-name-txt1, .Item-name-txt2, .Item-name-txt3 {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-size: 1em;
  text-align: left;
  letter-spacing: 0.48;
  line-height: 2.0;
  height: 125px;
}

.Item-name-txt1 {
  margin-top: 18px;
}

.Item-name-txt3 {
  text-align: center;
  margin-top: 27px;
}

/*-----------------------------------------------プライスセクション------------------------------------------------------------------*/
.Price-inner {
  background: url(./images/Price-background.jpg) no-repeat;
  background-size: 663px 884px;
  width: 1004px;
  margin: 0 auto;
  height: 1000px;
  margin-bottom: 149px;
  background-position: top 93px right 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Price-wrap {
  background-color: #ffffff;
  opacity: 0.7;
  border: solid 5px #A38787;
  width: 339px;
}

.Price-ttl-cap {
  display: block;
  padding-top: 18px;
  padding-left: 210px;
}

.Price-ttl-body {
  display: inline-block;
  position: relative;
  padding-left: 178px;
  padding-top: 55px;
}

.Price-ttl-body::after {
  content: "";
  display: block;
  width: 69px;
  height: 5px;
  background-color: black;
  position: absolute;
  bottom: -10px;
  left: 200px;
}

.Price-table {
  margin: 63px 85px 67.4px 85px;
  width: 324px;
}

.Price-tr {
  border-bottom: dashed 1px #707070;
}

.Price-tr:last-child {
  border-bottom: none;
}

.p-name {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-weight: bold;
  line-height: 1.7;
  text-align: left;
}

.p-price {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-weight: bold;
  line-height: 1.7;
  text-align: right;
}

/*-----------------------------------------------------ブログセクション-------------------------------------------------------------*/
.Blog {
  background-color: #f2f2f2;
  background-size: cover;
}

.Blog-inner {
  padding-top: 136px;
  padding-bottom: 137px;
}

.Blog-ttl-cap {
  margin-bottom: 62px;
}

.Blog-ttl-body {
  position: relative;
  margin-bottom: 41px;
}

.Blog-ttl-body::after {
  content: "";
  display: block;
  width: 69px;
  height: 5px;
  background-color: black;
  position: absolute;
  bottom: -20px;
}

.Blog-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Blog-card1, .Blog-card2 {
  margin-right: 16px;
}

.Blog-card1, .Blog-card2, .Blog-card3 {
  text-align: left;
}

.Blog span p {
  color: #ffffff;
  display: inline-block;
}

.Blog-card-day {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.16px;
  height: 19px;
  margin-top: 29px;
  text-align: center;
  display: inline-block;
}

.Blog-card-category {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-size: 1em;
  letter-spacing: 0.16px;
  text-align: center;
  display: inline-block;
}

.Blog-card-txt {
  margin-top: 10px;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-size: 1em;
  letter-spacing: 0.16px;
  font-size: medium;
}

.Blog-cg1 {
  margin-left: 16px;
}

.Blog-cg2 {
  margin-left: 29px;
}

.Blog-cg3 {
  margin-left: 33px;
}

/*----------------------------------------------------------アクセスセクション---------------------------------------------------------*/
.Access-inner {
  padding-top: 140px;
}

.Access-ttl-cap {
  margin-bottom: 93px;
}

.Access-ttl-body {
  position: relative;
  margin-bottom: 53px;
}

.Access-ttl-body::after {
  content: "";
  display: block;
  width: 69px;
  height: 5px;
  background-color: #000000;
  position: absolute;
  bottom: -30px;
}

.Access-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Access-box {
  padding: 152px 115px 219px 138px;
}

.Access-box-ttl {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  width: 751px;
  line-height: 1.7;
  margin-bottom: 31px;
}

.Access-box-txt {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-size: 1em;
  line-height: 1.7;
  line-height: 1.5;
  letter-spacing: 0.8px;
  margin-bottom: 31px;
}

.Access-info-ttl {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 13px;
}

.Access-info-cap {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-size: 16px;
  text-align: left;
  margin-bottom: 35px;
}

/*------------------------------------------------フッター---------------------------------------------------------------*/
.f-inner {
  color: #ffffff;
  font-weight: bold;
  font-size: 5em;
  letter-spacing: 0.05;
  padding-top: 77px;
  padding-bottom: 90px;
  background-color: #6F6565;
  font-family: "Montserrat", sans-serif;
}

.f-text {
  text-align: center;
}
/*# sourceMappingURL=mobile.css.map */
