
/*--------------------------------
Media Queries
---------------------------------*/
$sp2: 460px; // スマホ用のブレイクポイント
$sp: 899px; // スマホ用のブレイクポイント
$pc: 900px; // パソコン用のブレイクポイント

@mixin sp2 {
    @media (max-width: ($sp2)) {
        @content;
    }
}
@mixin sp {
@media (max-width: ($sp)) {
    @content;
}
}
@mixin pc {
@media (min-width: ($pc)) {
    @content;
}
}

//文字色---------------------------
$color_1 : #999999;
$color_2 :#333;
$color_3 :#fff;
$color_4: rgb(240, 240, 240);
$color_5: #f181b4;
$color_6: #000;

//フォント--------------------------------


$font_EN : "krungthep", "Chicago", "Lato",'Artifika',sans-serif, serif;
$font_JA: Helvetica, "游ゴシック", "Yu Gothic", YuGothic, HiraKakuProN-W3, "メイリオ", Meiryo, sans-serif;

//セクションBOX
.sec {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
}
//コンテナBOX（コンテンツ幅）
.container {
    margin: 0 auto;
    width: 78%;
    height: auto;
}


//大見出し(セクションのタイトル)
.mttl{
    font-size: 3rem;
    font-weight: bold;
    @include sp{
        font-size: 2rem;
    }
}

// 中見出し(サブタイトル)
// .sttl{
// }

//文（記事、文章、説明）
.atc{
    font-family: $font_JA;
}

